.about {
    padding-top: 40px;
    background-color: #F6F6F6;
    &__title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 34px;
        line-height: 41px;
        color: #000000;
    }
    &__text {
        padding: 55px 0 50px 68px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        border-right: #000000 solid 2px;
        p {
            width: 80%;
        }
    }
}