.about {
    padding: 40px 0 50px 0;
    background-color: #F6F6F6;
    
    &__title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 56px;
        line-height: 68px;
        color: #000000;
    }
    &__text {
        padding: 50px 0 0px 68px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        border-right: #000000 solid 2px;

        img {
            pointer-events: none;
        }
        p {
            width: 80%;
        }
    }
}