.header {
    position: fixed;
    height: 100px;
    width: 100%;
    padding: 35px 0;
    border-bottom: 1px solid #000;
    box-shadow: 1px 1px 4px;
    z-index: 100;
    background-color: #ffffff;
    transition: 0.3s all ease;
    &_out {
        transform: translateY(-100%)
    }
    &__wrapper {
        ul {
            display: flex;
            height: 100%;
            justify-content: space-between;
            align-items: center;
            list-style-type: none;
            a {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 16px;
                color: #000000;
                &:hover {
                    color: #4f4f4f;
                    text-decoration: none;
                }
            }
        }
    }
}
