.main {
    padding: 110px 0 50px 0;
    &__label {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }
    &__wrapper {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;

    }
    &__name {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 56px;
        line-height: 50px;
        color: #000000;
    }
    &__desc {
        width: 205px;
        margin-top: 35px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 20px;
        color: #000000;
    }
    &__lang {
        display: flex;
        align-items: flex-end;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 29px;
        line-height: 16px;
        user-select: none;
        p {
            margin: 0 6px;
        }
    }
    &__btn {
        color: #999999;
        border: none;
        background-color: #fff;
        transition: 0.3s all;
        &:hover {
            transition: 0.3s all;
        }
        &:focus {
            outline: none;
        }
        &_black {
            color: #000000;
            border: none;
            background-color: #fff;
            transition: 0.3s all;
            &:focus {
                outline: none;
            }
        }
    }
    &__photo {
        margin: 100px auto 0;
        border: #000000 solid 2px;
        width: 100%;
        img {
            display: block;
            margin: 0 auto;
            width: 100%;
        }
    }
}