@import 'libs/bootstrap-reboot.min';
@import 'base/fonts';

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.container {
    width: 965px;
    margin: 0 auto;
}

// body {

// }

.fixed {
    position: fixed;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 15px;
}

p {
    margin-bottom: 0;
}


@import 'blocks/header';
@import 'blocks/main';
@import 'blocks/about';
@import 'blocks/works';
@import 'blocks/social';

@import 'base/media'

 