@import 'libs/bootstrap-reboot.min';
@import 'base/fonts';

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.container {
    width: 965px;
    margin: 0 auto;
}

p {
    margin-bottom: 0;
}


@import 'blocks/header';
@import 'blocks/main';
@import 'blocks/about';
@import 'blocks/works';
@import 'blocks/social';

 